html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    background-color: #F1FAFF;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.title {
    text-align: center;
    font-weight: bold;
    margin: 8rem 3rem 3rem 3rem;
    font-size: 5rem;
    color:#2D9CDB;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 120rem;
    margin: 0 auto;
    grid-gap: 2rem;
    padding: 2rem;
}

.demo__preview {
    border-radius: 1rem;
    display: block;
}

.demo__preview__img {
    width: 100%;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
}

.demo-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    border: .25rem solid #2D9CDB;
    text-decoration: none;
    color:#2D9CDB;
    font-weight: bold;
}

.demo__prim-ntn {
    background-color: #2D9CDB;
    color: white;
}

.demo__sec-ntn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo__sec-ntn img {
    margin-right: .5rem;
}

